
body{
    background: url("../images/background1.jpg") no-repeat center;
    background-size: 100%;
    overflow-x: hidden;
    background-attachment : fixed;
}
#judul{
    margin-top: 30px;
    margin-bottom: 20px;
    font-family: 'Arimo', sans-serif;
    font-size: 60px;
    color: #180c63;
    padding-left: 80px;
    }
#accordion{
    width: 100%;
    heightStyle: content;
    }
.row{
    padding-right:0px;
    }
.ui-accordion-header.ui-state-active {
    background-color: #180c63;
    border: none;
    }
#theme1{
    margin-left: 130px;
    margin-bottom: 30px;
    font-family: 'Arimo', sans-serif;
    background-color: #ffffff;
    border: 2px solid #180c62;
    }

#theme2{
    margin-left: 130px;
    margin-bottom: 30px;
    font-family: 'Arimo', sans-serif;
    background-color: #ffffff;
    border: 2px solid #f7d4d0;
    }
