<!doctype html>
<html lang="en">
{% load static %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src = "{% static 'js/story7.js' %}"></script>
    <link href="{% static 'css/story7.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Arimo:700&display=swap" rel="stylesheet">
    <title>Halo!</title>


</head>
<body>

<div class="first">
    <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4 ">
            <h1 id="judul"> Hello, it's Naura!</h1>
        </div>
        <div class="col-md-4">
        </div>
    </div>
</div>

<div class="first">
    <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4 ">
            <button id="theme1">Change Theme</button>
            <button id="theme2">Change Theme</button>

        </div>
        <div class="col-md-4">
        </div>
    </div>
</div>


<div class="second">
    <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4 ">
            <div id="accordion">
                <h3>Current Activities</h3>
                <div>
                    <p>
                        Kuliah, Rapat, Kuliah, Rapat.
                </div>
                <h3>Organization Experiences</h3>
                <div>
                    <ul>
                        <li>Staff of Seminar COMPFEST 11</li>
                        <li>Staff of Public Relations RISTEK Fasilkom UI</li>
                        <li>Staff of Publication, Documentation, and Creative Computer Science League 2019</li>
                        <li>Staff of Human Resource Development Computers Get Together 2019</li>
                        <li>Secretary of Pekan Ristek 2019</li>
                    </ul>
                </div>
                <h3>Achievements</h3>
                <div>
                    <p>
                        Sadly, none:(
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
        </div>
    </div>
</div>




</body>
</html>